@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Hello";
}

<!--Matt McCord Section 3 Winter 2022-->

<h1>Matt McCord</h1>
<img src="img/konnor.JPG" width="300" alt="This is a picture of me and my friend Konnor being very invested in Christmas" />
<!--What I want from this class-->
<p>
    Previously, I have struggled with programming and following along for awhile and then
    not grasping the concepts towards the end of the semester. I am hoping to be able to understand
    the topics enough to where I can create powerful things.
</p>
<!--Jobs I want-->
<ol>
    <li>Data Analytics</li>
    <li>Database Engineer</li>
    <li>Product Management</li>
</ol>

